# VS and VSCode
.vs
.vscode/launch.json
.vscode/settings.json
bin/
obj/

# CMake
build/
out/
Testing/

# vcpkg
vcpkg_installed*/
/packaging/vcpkg/ports/netremote/portfile.cmake

# Debug logs.
*-LogNetRemote*.txt
