# VS and VSCode
.vs
.vscode/settings.json
bin/
obj/

# CMake
build/
out/

# vcpkg
vcpkg_installed*/
/vcpkg/
/packaging/vcpkg/ports/netremote/portfile.cmake
src/common/wifi/apmanager/AccessPointDiscoveryAgent.cxx
src/common/wifi/apmanager/include/microsoft/net/wifi/AccessPointDiscoveryAgent.hxx
